:root {
    /* Colours */
    --c-green: hsl(75, 94%, 57%);
    --c-white: hsl(0, 0%, 100%);
    --c-grey-700: hsl(0, 0%, 20%);
    --c-grey-800: hsl(0, 0%, 12%);
    --c-grey-900: hsl(0, 0%, 8%);

    /* Fonts */
    @font-face {
        font-family: "Inter";
        src: url("/assets/fonts/Inter-VariableFont_slnt,wght.ttf");
    }
    --ff-primary: "Inter", "Arial", sans-serif;

    /* Spacing */
    --spacing-150: 14px;
    --spacing-200: 24px;
}

*, html > * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--c-grey-900);
    font-family: var(--ff-primary);
}

p {
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.profile {
    background-color: var(--c-grey-800);
    padding: var(--spacing-200);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    color: var(--c-white);
    border-radius: 15px;
    width: 327px;

    @media (min-width: 375px) {
        padding: calc(var(--spacing-200) * 1.5);
        width: 356px;
    }
}

.profile__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-200);
}

.profile__image-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
    }
}

.profile__personal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-150);
}

.profile__name {
    font-size: 24px;
    font-weight: 700;
}

.profile__location {
    color: var(--c-green);
    font-weight: 600;
}

.profile__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-150);
    width: 100%;
}

.profile__link {
    text-decoration: none;
    color: var(--c-white);
    padding: var(--spacing-150) var(--spacing-200);
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    background-color: var(--c-grey-700);
    border-radius: 5px;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;

    &:hover {
        color: var(--c-grey-900);
        background-color: var(--c-green);
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--c-white);
}

.attribution a {
    color: var(--c-green);
}